 *, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
  }


  


#book {
       width:80%;
        height:40%;
        position:absolute;
        left:50vw;
        top:15vh;
        perspective:355vw;
    
  }
  



  .page {
    width:20%;
    height:100%;
    outline:1px solid black;
    box-shadow:5px 10px 10px rgba(0, 0, 0, 0.010);
    position:absolute;
    left:0%;
    top:0;
    transition:z-index .01s linear 1s, transform 2s linear;
    transform-origin:0% 50%;
    z-index:5;
    cursor:pointer;
    max-width: 50%;
    
  }





  
  
  
  
  
  
  
  
  

  
  
    .reseaux {
      height: 4%;
      display: flex;
      color: black;
      font-weight: bold;
      background: rgba(221, 221, 221, 0.767);
      border-radius: 50px;
      width: 40%;
      justify-content: space-evenly;
      align-content: center;
      margin-left: 30%;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
  
  
  
        
        
    }
  
    .reseaux:hover {
      height: 7%;
      display: flex;
      color: black;
      font-weight: bold;
      background: white;
      border-radius: 50px;
      width: 40%;
      justify-content: space-evenly;
      align-content: center;
      margin-left: 30%;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
      
      
  }
  
    .ico {
       
   
        width: 90px;
        height: 90px;
  
        
    }
  
    h3{
        text-align: center;
        display: inline-block;
        align-items: center;
        font-size: 50px;

    }

    a{
        text-decoration: none;
    }
  
    .btn {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0) !important ;
      border: none;

     
  
    }
    
    .btn:hover {
      background: rgb(0, 0, 0)!important;
      display: flex;
      align-items: center;
    }
  
    a:hover {
      text-decoration: none;
     
    }
  
  
    .btns {
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: row;
      align-content: center;
      margin-top: 1%; 
      
  }
  
  
  
  
  
  
    
  
  #book:before {
    width:1%;
    height:59%;
    background:#222;
    content:'';
    position:absolute;
    left:1%;
    top:0;
    bottom: 20%;
    box-shadow:0px 10px 10px rgba(0,0,0,.75);
    outline:1px solid black;
  }
  
  .page {
    width:60%;
    height:60%;
    outline:1px solid black;
    box-shadow:5px 10px 10px rgba(0, 0, 0, 0.010);
    position:absolute;
    top:0;
    transition:z-index .01s linear 1s, transform 2s linear;
    transform-origin:0% 50%;
    z-index:5;
    cursor:pointer;
    max-width: 100%;
    
  }
  
  img{
      display: block;
      margin: auto;
      width: 100%;
      height: 100%;
      max-width: 100%;
  }
  
  
  

  
  
  
  
  /* #page5 {
    transform-origin:-1% 50% !important;
  } */
  
  .front, .back {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
      
    font-family:monospace;
    text-align:center;
    line-height:50vh;
    
    opacity:0;
    transition:opacity .1s linear 1s;
  }
  .front {
    opacity:1;
  }
  .back {
    transform:scaleX(-1);
  }
  
  input {
    visibility:hidden;
  }
  
  label {
    width:100%;
    height:100%;
    z-index:99;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding:0;
  /*   pointer-events:none; */
  /*   visibility:hidden; */
  /*   background:red; */
  }
  
  input:checked + .page {
    transform:rotateY(-180deg); 
  }
  
  input:checked + .page .front {
    opacity:0;  
  }
  input:checked + .page .back {
    opacity:1;  
  }
  
